/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .jumbotron {
    padding: 2rem 1rem; /* Adjust padding as needed */
    margin-bottom: 2rem;
    background-color: #1f88b1; /* Background color */
    border-radius: 0.3rem; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Shadow effect */
    color: #212529; /* Text color */
}


  .container-fluid, .container {
    padding: 0 15px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 10;
    padding: 10;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background: #1f88b1;
    color: #120202;
  }
  
  .navbar {
    padding: 1rem 0;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .navbar-nav .nav-link {
    color: #fff;
    padding: 0.5rem 1rem;
  }
  
  .navbar-nav .nav-link:hover {
    background: #444;
    border-radius: 5px;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Main Content Styles */
  main {
    padding: 2rem 0;
  }
  
  .container > h1 {
    margin-bottom: 1rem;
  }
  
  .container > p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  /* Footer Styles */
  footer.footer {
    background: #28bcca;
    color: #fff;
    padding: 2rem 0;
  }
  
  footer h2 {
    margin-bottom: 1rem;
  }
  
  footer p {
    line-height: 1.6;
  }
  
  footer .form-inline {
    display: flex;
  }
  
  footer .form-inline .form-control {
    border-radius: 0;
  }
  
  footer .input-group-text {
    cursor: pointer;
  }
  
  
  footer .social-icons i:hover {
    color: #944848;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .navbar-nav {
      text-align: center;
    }
  
    .navbar-nav .nav-item {
      margin-bottom: 0.5rem;
    }
  
    footer .form-inline {
      flex-direction: column;
    }
  
    footer .input-group {
      width: 100%;
    }
  }
  